<body>
    <table style="width:100%" border="1" cellspacing="0" cellpadding="8">
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Action</th>
        </tr>

        <% for (let i = 0; i < datalist.length; i++) { %>
            <tr>
                <td><%= datalist[i].email %></td>
                <td><%= datalist[i].firstName %></td>
                <td><%= datalist[i].lastName %></td>
                <td><%= datalist[i].address %></td>
                <td>
                    <a href="/edit-crud?id=<%= datalist[i].id %>">Edit</a> | 
                    <a href="/delete-crud?id=<%= datalist[i].id %>" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
</body>
